div {
    border: 1px solid #222;
    padding:10px;
    
}

p, pre{
    font-size:20px;
}

pre {
    padding: 5px;
    background-color: #888;
    border: 1px solid #222;
    color: #fff;
    width:200px;
}